.header-background{
  position: relative;
}

.header-background img:nth-child(1){
  width: 100%;
}

.header-background img:nth-child(2){
  position: absolute;
  top: 215px;
  left: 582px;
}

.header-background h1:nth-child(3){
  position: absolute;
  top:335px;
  left: 535px;
  color: white;
}

.header-background h1:nth-child(4){
  position: absolute;
  top: 420px;
  left: 460px;
  color: white;
}

.header-background p{
  position: absolute;
  top: 490px;
  left: 360px;
  color: white;
}

.header-background img:nth-child(6){
  position: absolute;
  top: 650px;
  left: 630px;
}

.socials{
  display: flex;
  justify-content: center;
  margin: 50px;
}

.copyright{
  text-align: center;
}

.what_we_do{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.what_we_do_logos{
  display: flex;
  justify-content: space-between;
}


.images1{
  display: flex;
  justify-content: space-around;
}

.images2{
  display: flex;
  justify-content: space-around;
}

.portfolio{
  text-align: center;
}

#aboutus{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.services{
  position: relative;
}

.services img{
  width: 100%;
}

.services h2{
  position: absolute;
  top: 105px;
  left: 600px;
  color: white;
}

.services p:nth-child(3){
  position: absolute;
  top: 150px;
  left: 200px;
  color: white;
}

.services p:nth-child(4){
  position: absolute;
  top: 190px;
  left: 370px;
  color: white;
}

.services p:nth-child(5){
  position: absolute;
  top: 230px;
  left: 328px;
  color: white;
}