body{
  width: 100%;
  overflow-x: hidden;
}

.header-background{
  position: relative;
}

.header-background img:nth-child(1){
  width: 100%;
}

.header-background img:nth-child(2){
  position: absolute;
  top: 215px;
  left: 582px;
}

.header-background h1:nth-child(3){
  position: absolute;
  top:335px;
  left: 535px;
  color: white;
}

.header-background h1:nth-child(4){
  position: absolute;
  top: 420px;
  left: 460px;
  color: white;
}

.header-background p{
  position: absolute;
  top: 490px;
  left: 360px;
  color: white;
}

.header-background img:nth-child(6){
  position: absolute;
  top: 650px;
  left: 630px;
}

.socials{
  display: flex;
  justify-content: center;
  margin: 0px;
  position: absolute;
  top: 2800px;
  left: 650px;

}

.copyright{
  text-align: center;
  position: absolute;
  top: 2860px;
  left: 830px;
}

.what_we_do{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.what_we_do_logos{
  display: flex;
  justify-content: space-around;
}


.what_we_do_logos p{
  text-align: center;
  align-items: center;
}

.row{
  padding: 0 4px;
}

.column{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 15px;
  vertical-align: middle;
  width: 100%;
}

#portfolio{
  text-align: center;
}

.portfolio{
  width: 100%;
}

#aboutus{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.services{
  position: relative;
}

.services img{
  width: 100%;
}

.services h2{
  position: absolute;
  top: 105px;
  left: 600px;
  color: white;
  width: 50%;
  height: auto;
}

.services p:nth-child(3){
  position: absolute;
  top: 150px;
  left: 200px;
  color: white;
  width: 80%;
  height: auto;
}

.services p:nth-child(4){
  position: absolute;
  top: 190px;
  left: 370px;
  color: white;
  width: 100%;
  height: auto;
}

.services p:nth-child(5){
  position: absolute;
  top: 230px;
  left: 328px;
  color: white;
  width: 100%;
  height: auto;
}

.contact{
  position: relative;
  margin-top: 60px;
  margin-bottom: auto;
  width: 100%;
}

.contact img{
  width: 100%;
}

.contact h2{
  position: absolute;
  top: 40px;
  left: 550px;
  color: white;
  width: 25%;
}

.contact #mc_embed_signup #mce-FNAME{
  position: absolute;
  top: -370px;
  left: 90px;
  width: 40%;
  margin-bottom: 1px;
}

.contact #mc_embed_signup #mce-EMAIL{
  position: absolute;
  top: -420px;
  left: 600px;
  width: 40%;
  margin-bottom: 1px;
}

.contact #mc_embed_signup #mce-Message{
  position: absolute;
  top: -410px;
  left: 180px;
  width: 65%;
  height: 210px;
  margin-bottom: 1px;
}

.contact #mc_embed_signup #mc-embedded-subscribe{
  position: absolute;
  top: -50px;
  left: 550px;
  margin-bottom: 1px;
}


#mce-Message{
  background-color: rgba(0, 0, 0, 0.1) ;
}

#mce-FNAME{
  background-color: rgba(0, 0, 0, 0.1);
}

#mce-EMAIL{
  background-color: rgba(0, 0, 0, 0.1);
}

#mc-embedded-subscribe{
  background-color: rgba(0, 0, 0, 0.1);
}

#mce-EMAIL::placeholder{
  color: white;
}

#mce-FNAME::placeholder{
  color: white;
}

#mce-Message::placeholder{
  color: white;
}

.design{
  position: relative;
}

#design{
  text-align: center;
  position: absolute;
  top: -50px;
  left: -150px;
  background-color: white;
  display: none;
  width: 420px;
}

.development{
  position: relative;
}

#development{
  text-align: center;
  position: absolute;
  top: -69px;
  left: -150px;
  background-color: white;
  display: none;
  width: 420px;
}

.product-development{
  position: relative;
}

#product-development{
  text-align: center;
  position: absolute;
  top: -50px;
  left: -150px;
  background-color: white;
  display: none;
  width: 420px;
}


#development{
  position: absolute;
}

#product-development{
  position: absolute;
}

#image1{
  position: relative;
}
#text_one{
  color: black;
  font-size: large;
  font-weight: 700;
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 106px 80px 107px 70px;
  background-color: rgba(255,255,255,0.3);
  display: none;
}

#image2{
  position: relative;
}
#text_two{
  color: black;
  font-size: large;
  font-weight: 700;
  position: absolute;
  top: 10%;
  left: 4%;
  padding: 106px 80px 107px 75px;
  background-color: rgba(255,255,255,0.6);
  display: none;
}

#image3{
  position: relative;
}
#text_three{
  color: black;
  font-size: large;
  font-weight: 700;
  position: absolute;
  top: 10%;
  left: 4%;
  padding: 106px 80px 107px 75px;
  background-color: rgba(255,255,255,0.4);
  display: none;
}

#image4{
  position: relative;
}
#text_four{
  color: black;
  font-size: large;
  font-weight: 700;
  position: absolute;
  top: 10%;
  left: 4%;
  padding: 106px 80px 107px 75px;
  background-color: rgba(255,255,255,0.6);
  display: none;
}

#image5{
  position: relative;
}
#text_five{
  color: black;
  font-size: large;
  font-weight: 700;
  position: absolute;
  top: 10%;
  left: 4%;
  padding: 106px 80px 107px 75px;
  background-color: rgba(255,255,255,0.5);
  display: none;
}

#image6{
  position: relative;
}
#text_six{
  color: black;
  font-size: large;
  font-weight: 700;
  position: absolute;
  top: 10%;
  left: 4%;
  padding: 106px 80px 107px 75px;
  background-color: rgba(255,255,255,0.5);
  display: none;
}

#image7{
  position: relative;
}
#text_seven{
  color: black;
  font-size: large;
  font-weight: 700;
  position: absolute;
  top: 10%;
  left: 4%;
  padding: 106px 80px 107px 75px;
  background-color: rgba(255,255,255,0.5);
  display: none;
}

#image8{
  position: relative;
}
#text_eight{
  color: black;
  font-size: large;
  font-weight: 700;
  position: absolute;
  top: 10%;
  left: 4%;
  padding: 106px 80px 107px 75px;
  background-color: rgba(255,255,255,0.5);
  display: none;
}